table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
.border_color {
    background-color: #bde9ba;
}
textarea {
    resize: none;
}
@font-face {
    font-family: 'MyWebFont';
    src:  url('../fonts/e-UkraineHead-Bold.woff') format('woff')
}